
        nav, h1 {
    text-align: center;
}

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid #000000;
            flex-wrap: wrap;
        }

        .left-input-group {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .left-input-side {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 2px solid #000000;
            border-top: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
        }
        

        .middle-input-group {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .right-input-group {
            flex: 1;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border: 2px solid #000000;
            border-top: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }

        .right-input-group input[type="number"] {
    width: 80px; /* Adjust width to make the input boxes wider */
    height: 60px; /* Keep the height to maintain the square shape */
    padding: 5px; /* Add padding for better spacing */
    margin: 10px 0; /* Add more margin for spacing between input boxes */
    border-radius: 5px; /* Add border-radius for rounded corners */
    border: 1px solid #000000; /* Add border for styling */
}
        .skills {
            display: flex;
            flex-wrap: wrap;
        }

        .modifier {
            flex: 1;
            padding: 20px;
            border: 2px solid #000000;
            border-top: 2px solid #ffffff;
        }

        .modifier input[type="number"] {
    width: 60px; /* Adjust width to make the input boxes more square */
    height: 60px; /* Adjust height to match the width */
    padding: 5px; /* Add padding for better spacing */
    margin: 5px 0; /* Add margin for spacing between input boxes */
    border-radius: 5px; /* Add border-radius for rounded corners */
    border: 1px solid #000000; /* Add border for styling */
}

        .proficiencies {
            flex: 2;
            width: auto; /* Let the width adjust automatically */
            padding: 20px;
            border: 2px solid #000000;
            border-top: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
        }

        .information {
            flex: 3; /* Adjust the flex value to allocate more space */
            padding: 20px;
        }

        .information textarea {
            flex: 1; /* Make the text area expand to fill available space */
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #000000;
            resize: vertical;
            margin-bottom: 10px; /* Add margin bottom for spacing */
        }

        textarea {
            width: 100%;
            height: 300px; /* Adjust the height as needed */
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #000000;
            resize: vertical; /* Allow vertical resizing */
        }



        .middlecontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap; }

            .middlecontainer2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap; }