body {background-color: #EEE2DE}
        a {color: #f4bf96}
        a:visited {background-color: #CE5A67}
        a:hover {background-color: #1f1717}
        body {font-family: 'Times New Roman', Times, serif;}
        h1, h2 {
            color: #2B2A4C;
        }
        p, ul, td, th, dl, dt, dd {color: #B31312; font-size: 1em;}


nav {background-color: #aaaaaa; 
    padding: 10px;
    margin-bottom: 30px;
    }
    nav a{color: #ff1919}
    nav a:hover {background-color: #1f1717;}



.evenrow {background-color: #f4bf96;} 


.bottom {float: right;}



.text1, .text2 {display: flex; flex-wrap: wrap;}

.text1 div {margin: 20px;}
.text2 div {margin: 10px;}

.text1 { flex: 1; margin: 40px 20px 40px 20px;
        background-color: #ffffff;
        padding: 20px 40px 20px 40px;
        border-radius: 2em;}

 .text2 {flex: 1; margin: 40px 20px 40px 20px;
        background-color: #ffffff;
        padding: 20px 40px 20px 40px;
        border-radius: 2em;}



        .banner {max-width: 100%;}
        @media only screen and (max-width: 800px) {
                nav a {
                    width: 100%;
                    display: block;
                    margin: 5px 0; 
                }
    
                
            }


            .skills-row {
                display: flex; /* Use flexbox for layout */
                justify-content: space-around;
            }
            
            .skill {
                display: flex; /* Make each skill item a flex container */
                flex-direction: column; /* Align items vertically */
                margin-right: 20px; /* Add spacing between skills */
                align-items: center; /* Align items horizontally */
            }
            
            .skill i {
                margin-bottom: 5px; /* Add spacing between icon and text */
            }
